
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@if (Request.Cookies["Authcookie"] == null)
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
    <li><a href="#">@Request.Cookies["Authcookie"].Value</a></li>
}